/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; background: #222 url('../img/london1.jpg') no-repeat top left; background-size: 100% 1062px; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('font/Chunkfive-webfont.eot');
    src: url('font/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Chunkfive-webfont.woff') format('woff'),
         url('font/Chunkfive-webfont.ttf') format('truetype'),
         url('font/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SilkscreenNormal';
    src: url('font/slkscr-webfont.eot');
    src: url('font/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/slkscr-webfont.woff') format('woff'),
         url('font/slkscr-webfont.ttf') format('truetype'),
         url('font/slkscr-webfont.svg#SilkscreenNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DitedRegular';
    src: url('font/Dited-webfont.eot');
    src: url('font/Dited-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Dited-webfont.woff') format('woff'),
         url('font/Dited-webfont.ttf') format('truetype'),
         url('font/Dited-webfont.svg#DitedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clear {
  clear: both;
}

h1 {
  font-family: 'ChunkFiveRegular';
  font-size:50px;
  color: #f1e303;
  text-shadow: 3px 3px 3px #333;
  margin: 0;
  padding-left: 160px;
  background: transparent url('../img/logo_london2012.png') no-repeat 20px 10px;
  height: 145px;
  line-height: 145px;
  float: left;
  margin-right: 50px;
}

#menu {
  position: relative;
  top: 58px;
}
#menu ul {
  list-style-type: none;
}
#menu ul li {
  float: left;
}
#menu ul li a {
  color: #e9e72a;
  font-family: 'SilkscreenNormal';
  text-shadow: 2px 2px 1px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
  text-decoration: none;
  padding: 10px;
}

#menu ul li a.selected {
  text-decoration: underline;
}
#menu ul li a:hover {
  text-decoration: underline;
}

.container {
  background-position: center bottom;
  background-repeat: no-repeat;
  height:640px;
  width:100%;
  position:relative;
  margin: 0 auto;
}

.container .monitor {
  padding-left: 35px;
  position: relative;
  color: #e9e72a;
  font-family: 'SilkscreenNormal';
  -webkit-transition: all 1s ease-in-out; 
  -moz-transition: all 1s ease-in-out; 
  -o-transition: all 1s ease-in-out; 
  -ms-transition: all 1s ease-in-out;
  transition: background all 1s ease-in-out;
}

.container ul {
  list-style-type: none;
}

.container ul li {
  float: left;
  margin: 0 15px 15px 0;
  height: 90px;
  display: block;
}

#sports ul li {
  float: left;
  margin: 0 18px 20px 0;
  height: 80px;
  display: block;
}


.container ul li#map {
  float: left;
  margin: 0 35px 10px 0;
  height: auto;
  display: block;
  position: relative;
}

.container ul li embed{
  -webkit-border-radius: 10px;
  border-radius: 10px; 
  -webkit-box-shadow: 2px 2px 2px 2px #111;
  box-shadow: 2px 2px 2px 2px #111; 
  width: 135px;
  height: 90px;
}

.container ul li#map embed{
  -webkit-box-shadow: none;
  box-shadow: none; 
  width: 715px; height: 365px;
}

.container ul li#map span{
  position: absolute;
  color: yellow;
  font-weight: bold;
  -webkit-border-radius: 57px;
  border-radius: 57px; 
  font-family: 'DitedRegular';
  height: 65px;
  padding-top: 35px;
  width: 100px;
  display: block;
  text-align: center;
  font-size: 22px;
  -webkit-box-shadow: 2px 2px 2px 2px #111;
  box-shadow: 2px 2px 2px 2px #111; 
}

.container ul li#map span#north-america{
  top: 80px;
  left: 90px;
  border: 7px solid green;
}

.container ul li#map span#south-america{
  top: 220px;
  left: 165px;
  border: 7px solid LawnGreen ;
}

.container ul li#map span#europe{
  top: 40px;
  left: 300px;
  border: 7px solid blue;
}

.container ul li#map span#africa{
  top: 160px;
  left: 310px;
  border: 7px solid black;
}

.container ul li#map span#asia{
  top: 60px;
  left: 450px;
  border: 7px solid yellow;
}

.container ul li#map span#oceania{
  top: 240px;
  left: 580px;
  border: 7px solid red;
}

#stats {
	z-index: 999;
	display: block;
	position: absolute;
	top: 0;
	right: 50px;
	margin-top: 0;
	background-color: #000;
	border: 0px solid #e9e72a;
	border-bottom: none;
	width: 200px;
	padding: 5px 10px;
	color: #e9e72a;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
}

#copy {
  width: 565px;
  margin: 20px auto;
  color: #e9e72a;
  font-family: 'SilkscreenNormal';
  text-shadow: 2px 2px 1px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}

#copy a {
  color: #e9e72a;
  padding: 5px;
  background-color: rgba(0, 0, 0, .5);
}

#copy a:hover {
  color: #F2F2F2;
  padding: 5px;
  background-color: rgba(0, 0, 0, .8);
}

.f1_container{
  position: relative;
  width: 135px;
  height: 90px;
  z-index: 1;
  display: block;
}

.f2_container{
  position: relative;
  width: 140px;
  height: 80px;
  z-index: 1;
  display: block;
}

.f1_container, .f2_container {
  perspective: 1000;
  -webkit-perspective: 1000;  /* Saf4+, Chrome 12+ */ 
     -moz-perspective: 1000;  /* FF10+ */
      -ms-perspective: 1000;  /* IE10+ */
          perspective: 1000;     
}

.f1_card, .f2_card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.4s linear;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.4s linear;  /* FF4+ */
       -o-transition: all 0.4s linear;  /* Opera 10.5+ */
          transition: all 0.4s linear;
  display: block;
}

.f1_container:hover .f1_card {
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.f2_container:hover .f2_card  {
  -webkit-transform: rotateX(180deg);
     -moz-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.face, .face2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
}

.face {
  -webkit-transform-style: preserve-3d;
}

.face2 {
  background-color: #0099ff;
}
.face .tweet, .face2 .tweet2{
  position: absolute;
  bottom: 0; 
  right: 0;
  padding: 1px 5px 1px 30px;
  background: #222 url('../img/bird.png') no-repeat scroll 4px 4px;
  color: #F1E303;
  -webkit-border-radius: 4px 0px 0px 0px;
  border-radius: 4px 0px 0px 0px; 
  font-family: 'DitedRegular';
  font-weight: bold;
}

.face2 .tweet2{
  position: absolute;
  top: 0; 
  right: 0;
  padding: 1px 5px 1px 30px;
  background: transparent url('../img/bird.png') no-repeat scroll 4px 4px;
  color: #fff;
  -webkit-border-radius: 4px 0px 0px 0px;
  border-radius: 4px 0px 0px 0px; 
  font-family: 'DitedRegular';
  font-weight: bold;
}

.front2{
   -webkit-border-radius: 10px;
  border-radius: 10px; 
  -webkit-box-shadow: 2px 2px 2px 2px #111;
  box-shadow: 2px 2px 2px 2px #111; 
  border: 4px solid #fff;
}

.face.back, .face2.back2 {
  display: block;
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
     -moz-box-sizing: border-box; /* FF1+ */
          box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #666;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px 2px #111;
  box-shadow: 2px 2px 2px 2px #111;
  text-transform: uppercase;
  color: #F1E303;
}

.face.back, .face2.back2 {
  display: block;
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
     -moz-box-sizing: border-box; /* FF1+ */
          box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #666;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px 2px #111;
  box-shadow: 2px 2px 2px 2px #111;
  text-transform: uppercase;
  color: #F1E303;
}

.face2.back2 p{
  -webkit-transform: rotateX(180deg) rotateY(180deg);
     -moz-transform: rotateX(180deg) rotateY(180deg);
      -ms-transform: rotateX(180deg) rotateY(180deg);
          transform: rotateX(180deg) rotateY(180deg);
  margin-top: 20px;
}

.face2.back2 {
  -webkit-box-shadow: -2px -2px 2px 2px #111;
  box-shadow: -2px -2px 2px 2px #111;
  height: 88px;
  width: 148px;
  margin-top: -8px;
}


#sports {
  width: 976px;
  height: 600px;
  clear: left;
  background: transparent url('../img/track.jpg') no-repeat scroll left top;
   -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px 2px #111;
  box-shadow: 2px 2px 2px 2px #111;
  margin-top: 20px;
  margin-left: 20px;
}

#sports ul{
  padding-left: 20px;
}

#sports img{
-webkit-border-radius: 10px;
  border-radius: 10px;
}

@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
